
video {
    position: relative;
    float: left;
    width: 100%;
    height: 60%;
    background: repeating-linear-gradient(to right, #f6ba52, #f6ba52 10px, #ffd180 10px, #ffd180 20px);
    background-size: cover;
}

#duration {
  display:inline-block;
  padding-left: 10px;
}

#play-pause {
  display: inline-block;
}

.controls{
  display: table;
  margin: 0 auto;
}
progress {
  width: 100%;
}
